
/*===== GENERAL =====*/
:root * {
	--hoekVar: calc(360deg / 12);
	--rotate: rotate(calc( var(--hoekVar) * var(--index) ));
	--hoekVar2: calc(360deg / 5);
	--rotate2: rotate(calc( var(--hoekVar2) * var(--index2) ));
}

* {
	padding: 0;
	margin: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: darkgray;
}

main {
	position: relative;
	width: 300px;
	height: 350px;
	display: flex;
	justify-content: center;
	align-items: center;
}

/*===== IMAGES =====*/
/* 
img:first-child {
	position: absolute;
	top: 5vh;
	left: 7vw;
	z-index: 1;
}

img:last-child {
	position: absolute;
	top: 8vh;
	left: 3vw;
	width: 280px;
	transform: scaleX(-1);
} */

/*===== FIRE ROCKET =====*/

label {
	position: absolute;
	top: 120px;
	left: 125px;
	transform: scale(0.24);
	z-index: 5;
	height: 350px;
	width: 120px;
	filter: drop-shadow(2px 2px 4px rgb(0,0,0,0.5));
	transition: 1s;
	cursor: pointer;
}

label > figure:first-child {
	clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
	border-radius: 50%;
	position: absolute;
	left: calc(50% - 55px);
	width: 110px;
	height: 130px;
	z-index: 3;
	background-image:	
		conic-gradient(
		at center top,
		transparent 146deg,
		darkgray 146deg,
		lightgray 170deg,
		darkgray 214deg,
		transparent 214deg
	);
	clip-path:ellipse(90% 70% at center top);
}

label figure:nth-child(2) {
	background: blue;
	position: absolute;
	top: 83px;
	left: calc(50% - 37.5px);
	width: 75px;
	height: 160px;
	z-index: 2;
	background-image:
		linear-gradient(
			to right,
			#303a 0%,
			transparent 65%,
			#3036 100%
		),
		repeating-radial-gradient(
			red 0 1em,
			blue 1em 2em
		);
	background-size: 100% 100%, 600% 600%;
	background-position:left top, 40% -30%;
	border-radius: 0 0 50% 50% / 0 0 1em 1em;
}

label > figure:nth-child(3) {
	position: absolute;
	background: #BA8C63;
	top: 220px;
	left: calc(50% - 37.5px);
	width: 10px;
	height: 110px;
	z-index: 1;
	box-shadow: inset -2px 0 8px rgb(0,0,0,0.5);
	clip-path: ellipse(10px 95px at 50% 10%);
}

input {
	display: none;
}

input[type="checkbox"]:checked ~ main section label {
	transform: scale(0.5, 0.24);
	animation: explode 1s 1s ease-in forwards;
}

@keyframes explode {
	0% {
		transform: translate(0.24);
		visibility: hidden;
	}
	90% {
		transform: translate(0.5, 0.24);
		visibility: hidden;
	}
	100% {
		transform: translate(0.5, 0.24);
		visibility: hidden;
	}
}

/*===== FIREWORK =====*/

section {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	width: 300px;
	height: 350px;
	transition: 0.8s ease-out forwards;
}

input[type="checkbox"]:checked ~ main section {
	transform: translateY(-50vh);
}

section > ul {
	list-style-type: none;
	position: relative;
	width: 1rem;
	height: 1rem;
	top: -4rem;
	margin-left: 4.5rem;
}

ul > li:nth-of-type(1) { --index:1; }
ul > li:nth-of-type(2) { --index:2; }
ul > li:nth-of-type(3) { --index:3; }
ul > li:nth-of-type(4) { --index:4; }
ul > li:nth-of-type(5) { --index:5; }
ul > li:nth-of-type(6) { --index:6; }
ul > li:nth-of-type(7) { --index:7; }
ul > li:nth-of-type(8) { --index:8; }
ul > li:nth-of-type(9) { --index:9; }
ul > li:nth-of-type(10) { --index:10; }
ul > li:nth-of-type(11) { --index:11; }
ul > li:nth-of-type(12) { --index:12; }


section > ul {
	visibility: hidden;
}

input[type="checkbox"]:checked ~ main section > ul {
	visibility: visible;
}

main section > ul > li {
	position: absolute;
	width: 25%;
	height: 200%;
	background-color: blue;
	top: 50%;
	left: 37.5%;
	transform-origin: center; 
	transform: var(--rotate) scaleY(.2);
	transition: 0.3s ease-out;
	transition-delay: 1s;
}

input[type="checkbox"]:checked ~ main section > ul > li {
	transform: var(--rotate) scaleY(5) translateY(2em) scaleY(0);
	animation: showlist 1s 2s forwards;
}

@keyframes showlist {
	0% {
		transform: translateY(2em) scaleY(0);
		background: none;
	}
	100% {
		transform: translateY(2em) scaleY(1);
		background: none;
	}
}

ul > li li:nth-of-type(1) { --index2:1; }
ul > li li:nth-of-type(2) { --index2:2; }
ul > li li:nth-of-type(3) { --index2:3; }
ul > li li:nth-of-type(4) { --index2:4; }
ul > li li:nth-of-type(5) { --index2:5; }

main section > ul > li ul {
	list-style-type: none;
	position: relative;
	width: 1rem;
	height: 1rem;
}

main section > ul > li li {
	position: absolute;
	width: 25%;
	height: 200%;
	background-color: red;
	transform-origin: center; 
	transform: var(--rotate2) scaleY(.2);
	transition: 0.3s ease-out;
	transition-delay: 2s;
}

input[type="checkbox"]:checked ~ main section > ul > li li {
	visibility: visible;
	transform: var(--rotate2) scaleY(5) translateY(2em) scaleY(0);
}

input[type="checkbox"]:checked ~ main label {
	pointer-events: none;
}

section:first-child {
	transition: 1s ease-out;
}

